<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DZTIME</key>
	<dict>
		<key>GUID</key>
		<string>char(40)</string>
		<key>DATE_BEGIN</key>
		<string>char(19)</string>
		<key>DATE_END</key>
		<string>char(19)</string>
		<key>DETAIL</key>
		<string>varchar(1000)</string>
		<key>TYPE</key>
		<string>varchar(200)</string>
		<key>LOCAL_CHANGED</key>
		<string>int</string>
		<key>DEVICE_GUID</key>
		<string>char(40)</string>
		<key>USER_GUID</key>
		<string>char(40)</string>
		<key>PRIMARAY_KEY</key>
		<string>GUID</string>
	</dict>
	<key>DZMETA</key>
	<dict>
		<key>META_NAME</key>
		<string>varchar(200)</string>
		<key>META_KEY</key>
		<string>varchar(200)</string>
		<key>META_VALUE</key>
		<string>varchar(200)</string>
	</dict>
	<key>DZTYPE</key>
	<dict>
		<key>GUID</key>
		<string>varchar(200)</string>
		<key>CREATE_DATE</key>
		<string>varchar(20)</string>
		<key>NAME</key>
		<string>varchar(200)</string>
		<key>DETAIL</key>
		<string>varchar(1000)</string>
		<key>FINISHED</key>
		<string>int</string>
		<key>LOCAL_CHANGED</key>
		<string>int</string>
		<key>OTHER_INFOS</key>
		<string>varchar(1000)</string>
		<key>PRIMARAY_KEY</key>
		<string>GUID</string>
	</dict>
</dict>
</plist>
