<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSS</key>
	<dict>
		<key>DZLoginViewController</key>
		<dict>
			<key>img_btn_login</key>
			<string>btn_green_login</string>
			<key>img_email</key>
			<string>icon_email</string>
			<key>img_password</key>
			<string>icon_password</string>
			<key>img_textfield_backgroud</key>
			<string>bg_textfiled_login</string>
		</dict>
		<key>DZRegisterViewController</key>
		<dict>
			<key>img_btn_login</key>
			<string>btn_green_login</string>
			<key>img_email</key>
			<string>icon_email</string>
			<key>img_password</key>
			<string>icon_password</string>
			<key>img_textfield_backgroud</key>
			<string>bg_textfiled_login</string>
		</dict>
		<key>DZDragViewController</key>
		<dict>
			<key>img_icon_email</key>
			<string>icon_email</string>
		</dict>
		<key>DZTypesViewController</key>
		<dict>
			<key>img_background</key>
			<string>bg_types</string>
			<key>color_table_gradient</key>
			<string>#21a9df</string>
		</dict>
		<key>DZChartsViewController</key>
		<dict>
			<key>img_time_drag_bg</key>
			<string>bg_backgroud</string>
			<key>img_time_drag_item</key>
			<string>icon_threeline</string>
			<key>img_control_bg</key>
			<string>bg_timecontrol</string>
			<key>font_time_bottom</key>
			<string>default_19</string>
			<key>font_type_size</key>
			<string>12</string>
			<key>color_time_bottom_color</key>
			<string>#00cbec</string>
		</dict>
	</dict>
</dict>
</plist>
